body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fef08a; /* Fundo amarelo bem clarinho e alegre */
}

.title-font {
    font-family: 'Fredoka One', cursive;
}

.fun-shadow {
    box-shadow: 0 8px 0 #ca8a04;
}

.fun-shadow-pink {
    box-shadow: 0 8px 0 #db2777;
}

.fun-shadow-blue {
    box-shadow: 0 8px 0 #2563eb;
}